.carrousel{
  background-color: var(--color-bg-secondary);

  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;

  text-align: center;

  h2{
    color: var(--color-text-tertiary);
    text-align: center;
  }

  ul{
    margin: 0;
  }

  .carousel-items{
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;

    scroll-snap-type: x mandatory;
  }

  li{
    list-style: none;
  }

  .carousel-item{
    margin-left: 1rem;

    flex: 1 0 450px;

    scroll-snap-align: start;
  }

  .carousel-item:hover{
    transition: .3s all;
    font-size: rem(22);
    text-decoration: underline;
  }

  ::-webkit-scrollbar-track{
    background-color: var(--color-bg-secondary);
  }

  ::-webkit-scrollbar{
    height: 6px;
    background-color: var(--color-bg-tertiary);
  }

  ::-webkit-scrollbar-thumb{
    background-color: var(--color-bg-primary);
    border-radius: 3px;
  }

}


