//STYLE DE NOTRE HEADER

header{
  height: 100px;
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);

  border: 4px var(--color-bg-tertiary) solid;

  ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  li{
    list-style: none;
    cursor: pointer;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li:hover{
    background-color: var(--color-text-tertiary);
    color: var(--color-text-primary);
  }

  h1{
    margin-right: 100px;
    margin-left: 100px;
    cursor: pointer;
  }

  h1:hover{
    color: var(--color-text-tertiary);
  }

  a:hover{
    color: var(--color-text-primary);
  }
}

@media screen and (max-width: $vw-medium){

  header{

    li{
      font-size: rem(15);
    }

  }

}

@media screen and (max-width: $vw-small){

  header{
    height: 200px;
  }

  ul{
    flex-direction: column;
  }

  .logo{
    order: -1;
  }

}