.hero{
  display: flex;
  justify-content: center;
  align-items: center;
}

video{
  position: relative;
  height: 100%;
  width: 100%;
}

.hero p{
  font-family: var(--ff-title-primary);
  font-size: var(--fz-big);
  font-weight: bold;
  color: var(--color-text-primary);
  background-color: rgba(1, 5, 15, 0.7);
  margin: 0;
  position: absolute;
  padding: 70px 150px;
  border-radius: 50px;
}