.hero{
  display: flex;
  justify-content: center;
  align-items: center;
}

video{
  position: relative;
  height: 100%;
  width: 100%;
}

.hero p{
  font-family: var(--ff-title-primary);
  font-size: var(--fz-big);
  font-weight: bold;
  color: var(--color-text-primary);
  background-color: rgba(1, 5, 15, 0.7);
  margin: 0;
  position: absolute;
  padding: 50px 100px;
  border-radius: 50px;
}

@media screen and (max-width: $vw-large){

  .hero p{
    font-size: rem(25);
  }

}

@media screen and (max-width: $vw-medium){

  .hero p {
    padding: 35px 75px;
  }

}

@media screen and (max-width: $vw-small){

  .hero p {
    padding: 35px 35px;
  }

}