// STYLE DE BASE DE TOUS LES TITRES

h1, h2, h3, h4, h5, h6{
  font-family: var(--ff-title-primary);
  line-height: var(--lh-thin);
  font-weight: var(--fw-bold);
}
h1{
  transition: .3s all;
  font-size: rem(40);
  text-transform: uppercase;
  color: var(--color-bg-fiveterny);
}
.logo:hover{
  transition: .3s all;
  font-size: rem(50);
}
h2{
  font-size: var(--fz-h2);
  text-transform: uppercase;
}
h3{
  font-size: var(--fz-h3);
}
h4{
  font-size: var(--fz-h4);
}
h5{
  font-size: var(--fz-h5);
}
h6{
  font-size: var(--fz-h6);
}

.titre{
  background-color: var(--color-bg-secondary);
  margin: 0;
  padding: 40px;
  text-decoration: underline;
}